

<h2 class="title">{{title}}</h2>

<div class="blog-entry-form">
<form class="blog-entry-text"  #blogEntry="ngForm" (ngSubmit)="createEntry(blogEntry)">

  <mat-form-field color="primary">
    <mat-label>Select Blog</mat-label>
    <mat-select class="select-entry" name="selectedBlog" ngModel>
      <mat-option *ngFor="let blog of blogs" [value]="blog.id">
        {{blog.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="text-entry">
    <mat-label>Blog Entry Date</mat-label>
    <input matInput placeholder="Ex. 01.01.2020" name="blogDate" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field class="text-entry">
    <mat-label>Blog Entry Title</mat-label>
    <input matInput placeholder="Ex. Day 5: <Location>" name="blogTitle" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field class="text-entry">
    <mat-label>Blog Entry Text</mat-label>
    <textarea matInput placeholder="Ex. The journey was..." name="blogText" ngModel></textarea>
  </mat-form-field>
  <br>
    <input type="file" name="image" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg">
  <br>
  <button mat-raised-button color="Basic" class="SubmitButton" type="submit">Create Entry</button>
</form>
</div>
