
.blog-entry-form {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  background-color: #f2f2f2;
}

.select-entry {
  width: 150%;
}

.title {
  margin-top: 2em;
  font-family: "JetBrains Mono";
}

.blog-entry-text {
  padding-left: 2em;
}

.text-entry {
  width: 60%;
}

.SubmitButton {
  margin-top: 2em;
  margin-bottom: 2em;
}

.failLogin {
  font-family: "JetBrains Mono";
  color: red;
}
