
<h2 class="title">{{title}}</h2>

<div class="blog-entry-form">
  <form class="blog-entry-text"  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <mat-form-field class="text-entry">
      <mat-label>Username</mat-label>
      <input matInput name="username" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field class="text-entry">
      <mat-label>Password</mat-label>
      <input type="password" matInput name="password" ngModel>
    </mat-form-field>
    <br>
    <button mat-raised-button color="Basic" class="SubmitButton" type="submit">Login</button>
  </form>
</div>
