<div class="header">
  <h2>{{headermodel.title}}</h2>
  <div class="headersecond">
    <div id="location">Destination: {{headermodel.location}}</div>
    <div id="duration">Duration: {{headermodel.duration}}</div>
  </div>
  <p id="discription">{{headermodel.description}}</p>
</div>


<div class="entrySection">
  <div>
    <div class="entryTitle">
      <p>{{blogEntrymodel.date}}</p>
      <p id="entryTitle">{{blogEntrymodel.title}}</p>
    </div>
      <img src="{{blogEntrymodel.picFile}}"alt="{{blogEntrymodel.picDiscription}}" class="blogEntryPicture">
    <div class="blogEntryText">
      <p>{{blogEntrymodel.text}}</p>
    </div>
  </div>
</div>
