
$margin-left-right: 3em;

h2 {
  padding-top: 1em;
  text-align: center;
  font-family: "JetBrains Mono";
  font-style: italic;
}

.header {
  margin-top: 3em;
  background-color: #f2f2f2;
}

.headersecond {
  font-size: larger;
  font-family: "JetBrains Mono";
  display: flex;
  flex-direction: row;
}

#location {
  flex: auto;
  margin-left: $margin-left-right;
}

#duration {
  flex: revert;
  margin-right: $margin-left-right;
}

#discription {
  margin-top: 3em;
  margin-left: $margin-left-right;
  padding-bottom: 3em;
}

.entrySection {
  background-color: #f2f2f2;
  margin-top: 2em;
  margin-bottom: 10em;
  padding-bottom: 2em;
}

.entryTitle {
  margin-left: $margin-left-right;
  display: flex;
  font-family: "JetBrains Mono ExtraBold";
}

#entryTitle {
  padding-left: 1em;
}

.blogEntryPicture {
  display: block;
  width: 50%;
  height: 50%;
  margin: 2em auto;
}

.blogEntryText {
  margin-left: $margin-left-right;
  margin-right: $margin-left-right;
  text-align: justify;
}
