<div class="header">
  <h2>{{headermodel.title}}</h2>
  <div class="headersecond">
    <div id="location">Destination: {{headermodel.location}}</div>
    <div id="duration">Duration: {{headermodel.duration}}</div>
  </div>
  <p id="discription">{{headermodel.description}}</p>
</div>

<div *ngFor="let post of posts">
  <app-travel-blog-entry [title]="post.title"
                         [date]="post.date"
                         [pictureFile]="post.picFile"
                         [pictureDiscription]="post.picDiscription"
                         [text]="post.text"></app-travel-blog-entry>

</div>
